In [29]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf

seed_value = 1337

# 1. Set `PYTHONHASHSEED` environment variable at a fixed value
import os
os.environ['PYTHONHASHSEED']=str(seed_value)
os.environ["CUDA_DEVICE_ORDER"] = "PCI_BUS_ID"   # see issue #152
os.environ["CUDA_VISIBLE_DEVICES"] = ""

# 2. Set `python` built-in pseudo-random generator at a fixed value
import random
random.seed(seed_value)

# 3. Set `numpy` pseudo-random generator at a fixed value
np.random.seed(seed_value)

# 4. Set the `tensorflow` pseudo-random generator at a fixed value
tf.random.set_seed(seed_value)

# 5. Configure a new global `tensorflow` session
# for later versions:
session_conf = tf.compat.v1.ConfigProto(intra_op_parallelism_threads=1, inter_op_parallelism_threads=1)
sess = tf.compat.v1.Session(graph=tf.compat.v1.get_default_graph(), config=session_conf)
tf.compat.v1.keras.backend.set_session(sess)

# Data

In [2]:
# Load the dataframes
train_data = pd.read_csv("data/train.csv")
test_data=pd.read_csv("data/test.csv")

# Preview the dataframes
display(train_data.head(10))
display(test_data.head(10))

  Sequence  Active
0     DKWL       0
1     FCHN       0
2     KDQP       0
3     FNWI       0
4     NKRM       0
5     IWHA       0
6     GEFV       0
7     KARS       0
8     IMGW       0
9     KYRK       0

  Sequence
0     HWFK
1     MWPW
2     ALDV
3     NTLG
4     LHYY
5     AFGM
6     TPNY
7     EAKD
8     NDKE
9     GFIS

In [3]:
def create_char_df(df):
    """Create a dataframe that contains four columns (one for each char in 'Sequence')."""

    # Split sequences into characters
    first = []
    second = []
    third = []
    fourth = []

    for _, row in df.iterrows():
        ch_1, ch_2, ch_3, ch_4 = row["Sequence"]

        first.append(ch_1)
        second.append(ch_2)
        third.append(ch_3)
        fourth.append(ch_4)

    df_dict = {
        "first": first,
        "second": second,
        "third": third,
        "fourth": fourth
    }
    return pd.DataFrame(df_dict)

X_df = create_char_df(train_data)
X_test_df = create_char_df(test_data)

display(X_df.head(5))
display(X_test_df.head(5))

  first second third fourth
0     D      K     W      L
1     F      C     H      N
2     K      D     Q      P
3     F      N     W      I
4     N      K     R      M

  first second third fourth
0     H      W     F      K
1     M      W     P      W
2     A      L     D      V
3     N      T     L      G
4     L      H     Y      Y

## OneHot Encoding

In [4]:
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(X_df)

display(enc.categories_)

# Ensure the onehots are the same for each letter
assert((enc.categories_[0] == enc.categories_[1]).all() and (enc.categories_[1] == enc.categories_[2]).all() and (enc.categories_[2] == enc.categories_[3]).all())

[array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object)]

# Training

In [41]:
from sklearn.model_selection import train_test_split

X = enc.transform(X_df).toarray()
y = train_data["Active"].values

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.02, random_state=seed_value, stratify=y)

# Create training np arrays
#X_train = enc.transform(X_df).toarray().reshape(-1, 4, 20)
#y_train = train_data["Active"].values

In [42]:
from keras import backend as K

def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [ ]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Dense, GRU, Bidirectional, Dropout
from keras.layers.normalization import BatchNormalization
import keras

batch_size = 128

model = Sequential()
#model.add(Bidirectional(GRU(20, input_shape=(4, 20))))
model.add(Dense(200, activation = 'relu'))
model.add(Dropout(0.3, seed=seed_value))
model.add(Dense(70, activation = 'relu'))
model.add(Dropout(0.2, seed=seed_value))
model.add(Dense(30, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))
optimizer = keras.optimizers.Adam(learning_rate=0.001)
model.compile(
    loss='binary_crossentropy',
    optimizer=optimizer,
    metrics=[f1_m]
)

history = model.fit(X_train, y_train, epochs=45, batch_size=batch_size, validation_data=(X_val, y_val))
model.save('model')
print(model.summary())

Epoch 1/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0750 - f1_m: 0.4572 - val_loss: 0.0416 - val_f1_m: 0.7594
Epoch 2/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0391 - f1_m: 0.7525 - val_loss: 0.0236 - val_f1_m: 0.8024
Epoch 3/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0302 - f1_m: 0.8119 - val_loss: 0.0212 - val_f1_m: 0.8434
Epoch 4/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0260 - f1_m: 0.8372 - val_loss: 0.0202 - val_f1_m: 0.8632
Epoch 5/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0233 - f1_m: 0.8603 - val_loss: 0.0165 - val_f1_m: 0.9006
Epoch 6/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0209 - f1_m: 0.8673 - val_loss: 0.0166 - val_f1_m: 0.8935
Epoch 7/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0194 - f1_m: 0.8801 - val_loss: 0.0171 - val_f1_m: 0.8762
Epoch 8/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0178 - f1_m: 0.8805 - val_loss: 0.0179 - val_f1_m: 0.9181
Epoch 9/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0159 - f1_m: 0.8927 - val_loss: 0.0165 - val_f1_m: 0.8938
Epoch 10/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0150 - f1_m: 0.8968 - val_loss: 0.0141 - val_f1_m: 0.9176
Epoch 11/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0143 - f1_m: 0.9053 - val_loss: 0.0140 - val_f1_m: 0.9296
Epoch 12/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0140 - f1_m: 0.9125 - val_loss: 0.0157 - val_f1_m: 0.9230
Epoch 13/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0130 - f1_m: 0.9161 - val_loss: 0.0129 - val_f1_m: 0.9172
Epoch 14/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0125 - f1_m: 0.9208 - val_loss: 0.0129 - val_f1_m: 0.9371
Epoch 15/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0120 - f1_m: 0.9220 - val_loss: 0.0150 - val_f1_m: 0.9087
Epoch 16/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0115 - f1_m: 0.9254 - val_loss: 0.0109 - val_f1_m: 0.9236
Epoch 17/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0112 - f1_m: 0.9244 - val_loss: 0.0127 - val_f1_m: 0.9174
Epoch 18/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0106 - f1_m: 0.9286 - val_loss: 0.0103 - val_f1_m: 0.9303
Epoch 19/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0106 - f1_m: 0.9343 - val_loss: 0.0120 - val_f1_m: 0.9292
Epoch 20/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0103 - f1_m: 0.9352 - val_loss: 0.0138 - val_f1_m: 0.9181
Epoch 21/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0096 - f1_m: 0.9386 - val_loss: 0.0125 - val_f1_m: 0.9243
Epoch 22/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0087 - f1_m: 0.9444 - val_loss: 0.0132 - val_f1_m: 0.9116
Epoch 23/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0088 - f1_m: 0.9435 - val_loss: 0.0108 - val_f1_m: 0.9081
Epoch 24/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0088 - f1_m: 0.9439 - val_loss: 0.0107 - val_f1_m: 0.9083
Epoch 25/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0083 - f1_m: 0.9460 - val_loss: 0.0111 - val_f1_m: 0.9188
Epoch 26/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0081 - f1_m: 0.9467 - val_loss: 0.0151 - val_f1_m: 0.9275
Epoch 27/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0080 - f1_m: 0.9452 - val_loss: 0.0134 - val_f1_m: 0.9309
Epoch 28/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0077 - f1_m: 0.9508 - val_loss: 0.0171 - val_f1_m: 0.9015
Epoch 29/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0079 - f1_m: 0.9445 - val_loss: 0.0113 - val_f1_m: 0.9261
Epoch 30/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0076 - f1_m: 0.9491 - val_loss: 0.0122 - val_f1_m: 0.9488
Epoch 31/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0072 - f1_m: 0.9535 - val_loss: 0.0111 - val_f1_m: 0.9357
Epoch 32/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0075 - f1_m: 0.9426 - val_loss: 0.0091 - val_f1_m: 0.9157
Epoch 33/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0073 - f1_m: 0.9422 - val_loss: 0.0109 - val_f1_m: 0.9281
Epoch 34/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0067 - f1_m: 0.9559 - val_loss: 0.0114 - val_f1_m: 0.9324
Epoch 35/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0067 - f1_m: 0.9531 - val_loss: 0.0116 - val_f1_m: 0.9237
Epoch 36/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0064 - f1_m: 0.9616 - val_loss: 0.0126 - val_f1_m: 0.9334
Epoch 37/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0059 - f1_m: 0.9545 - val_loss: 0.0120 - val_f1_m: 0.9243
Epoch 38/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0067 - f1_m: 0.9489 - val_loss: 0.0110 - val_f1_m: 0.9315
Epoch 39/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0061 - f1_m: 0.9634 - val_loss: 0.0116 - val_f1_m: 0.9323
Epoch 40/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0060 - f1_m: 0.9563 - val_loss: 0.0108 - val_f1_m: 0.9202
Epoch 41/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0063 - f1_m: 0.9559 - val_loss: 0.0131 - val_f1_m: 0.9280
Epoch 42/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0059 - f1_m: 0.9628 - val_loss: 0.0112 - val_f1_m: 0.9176
Epoch 43/45
576/858 [===================>..........] - ETA: 0s - loss: 0.0052 - f1_m: 0.9676

In [ ]:
from sklearn.metrics import f1_score
y_pred = np.around(model.predict(X_val))
f1_score(y_val, y_pred)

In [9]:
X_test = enc.transform(X_test_df).toarray()

In [10]:
y_test=np.around(model.predict(X_test))

In [11]:
np.savetxt("submission.txt", y_test, fmt="%d")

In [12]:
display(y_test)

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]], dtype=float32)