In [29]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf

seed_value = 1337

# 1. Set `PYTHONHASHSEED` environment variable at a fixed value
import os
os.environ['PYTHONHASHSEED']=str(seed_value)
os.environ["CUDA_DEVICE_ORDER"] = "PCI_BUS_ID"   # see issue #152
os.environ["CUDA_VISIBLE_DEVICES"] = ""

# 2. Set `python` built-in pseudo-random generator at a fixed value
import random
random.seed(seed_value)

# 3. Set `numpy` pseudo-random generator at a fixed value
np.random.seed(seed_value)

# 4. Set the `tensorflow` pseudo-random generator at a fixed value
tf.random.set_seed(seed_value)

# 5. Configure a new global `tensorflow` session
# for later versions:
session_conf = tf.compat.v1.ConfigProto(intra_op_parallelism_threads=1, inter_op_parallelism_threads=1)
sess = tf.compat.v1.Session(graph=tf.compat.v1.get_default_graph(), config=session_conf)
tf.compat.v1.keras.backend.set_session(sess)

# Data

In [2]:
# Load the dataframes
train_data = pd.read_csv("data/train.csv")
test_data=pd.read_csv("data/test.csv")

# Preview the dataframes
display(train_data.head(10))
display(test_data.head(10))

  Sequence  Active
0     DKWL       0
1     FCHN       0
2     KDQP       0
3     FNWI       0
4     NKRM       0
5     IWHA       0
6     GEFV       0
7     KARS       0
8     IMGW       0
9     KYRK       0

  Sequence
0     HWFK
1     MWPW
2     ALDV
3     NTLG
4     LHYY
5     AFGM
6     TPNY
7     EAKD
8     NDKE
9     GFIS

In [3]:
def create_char_df(df):
    """Create a dataframe that contains four columns (one for each char in the 'Sequence' column)."""

    # Split sequences into characters
    first = []
    second = []
    third = []
    fourth = []

    for _, row in df.iterrows():
        ch_1, ch_2, ch_3, ch_4 = row["Sequence"]

        first.append(ch_1)
        second.append(ch_2)
        third.append(ch_3)
        fourth.append(ch_4)

    df_dict = {
        "first": first,
        "second": second,
        "third": third,
        "fourth": fourth
    }
    return pd.DataFrame(df_dict)

# Create the dataframes
X_df = create_char_df(train_data)
X_test_df = create_char_df(test_data)

display(X_df.head(5))
display(X_test_df.head(5))

  first second third fourth
0     D      K     W      L
1     F      C     H      N
2     K      D     Q      P
3     F      N     W      I
4     N      K     R      M

  first second third fourth
0     H      W     F      K
1     M      W     P      W
2     A      L     D      V
3     N      T     L      G
4     L      H     Y      Y

## OneHot Encoding

In [4]:
# Enocde each character into a one-hot vector. 
# Note: Same characters in different columns have the same one-hot vector representation!
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(X_df)

display(enc.categories_)

# Ensure the onehots are the same for each letter
assert((enc.categories_[0] == enc.categories_[1]).all() and (enc.categories_[1] == enc.categories_[2]).all() and (enc.categories_[2] == enc.categories_[3]).all())

[array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object)]

# Training

In [41]:
from sklearn.model_selection import train_test_split

X = enc.transform(X_df).toarray()
y = train_data["Active"].values

# Create train / validation splits from the training data
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.02, random_state=seed_value, stratify=y)

In [42]:
# Metrics for Keras
# https://datascience.stackexchange.com/questions/45165/how-to-get-accuracy-f1-precision-and-recall-for-a-keras-model

from keras import backend as K

def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

## Model

```python
_________________________________________________________________
Layer (type)                 Output Shape              Param #   
=================================================================
dense_32 (Dense)             multiple                  16200     
_________________________________________________________________
dropout_16 (Dropout)         multiple                  0         
_________________________________________________________________
dense_33 (Dense)             multiple                  14070     
_________________________________________________________________
dropout_17 (Dropout)         multiple                  0         
_________________________________________________________________
dense_34 (Dense)             multiple                  2130      
_________________________________________________________________
dense_35 (Dense)             multiple                  31        
=================================================================
Total params: 32,431
Trainable params: 32,431
Non-trainable params: 0
_________________________________________________________________
```

In [50]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Dense, GRU, Bidirectional, Dropout
from keras.layers.normalization import BatchNormalization
import keras

batch_size = 128

# The Model
model = Sequential()
#model.add(Bidirectional(GRU(20, input_shape=(4, 20))))
model.add(Dense(200, activation = 'relu'))
model.add(Dropout(0.3, seed=seed_value))
model.add(Dense(70, activation = 'relu'))
model.add(Dropout(0.2, seed=seed_value))
model.add(Dense(30, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))

optimizer = keras.optimizers.Adam(learning_rate=0.001)
model.compile(
    loss='binary_crossentropy',
    optimizer=optimizer,
    metrics=[f1_m]
)
# Train
history = model.fit(X_train, y_train, epochs=45, batch_size=batch_size, validation_data=(X_val, y_val))
# Save after training
model.save('model')
print(model.summary())

Epoch 1/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0747 - f1_m: 0.4173 - val_loss: 0.0418 - val_f1_m: 0.6974
Epoch 2/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0396 - f1_m: 0.7507 - val_loss: 0.0265 - val_f1_m: 0.8018
Epoch 3/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0306 - f1_m: 0.8099 - val_loss: 0.0231 - val_f1_m: 0.8369
Epoch 4/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0258 - f1_m: 0.8363 - val_loss: 0.0208 - val_f1_m: 0.8747
Epoch 5/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0233 - f1_m: 0.8607 - val_loss: 0.0172 - val_f1_m: 0.9026
Epoch 6/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0205 - f1_m: 0.8704 - val_loss: 0.0187 - val_f1_m: 0.8800
Epoch 7/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0192 - f1_m: 0.8821 - val_loss: 0.0175 - val_f1_m: 0.8911
Epoch 8/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0170 - f1_m: 0.8870 - val_loss: 0.0165 - val_f1_m: 0.9060
Epoch 9/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0161 - f1_m: 0.8909 - val_loss: 0.0164 - val_f1_m: 0.8948
Epoch 10/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0157 - f1_m: 0.9002 - val_loss: 0.0163 - val_f1_m: 0.8928
Epoch 11/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0147 - f1_m: 0.9007 - val_loss: 0.0161 - val_f1_m: 0.9072
Epoch 12/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0138 - f1_m: 0.9137 - val_loss: 0.0158 - val_f1_m: 0.8991
Epoch 13/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0134 - f1_m: 0.9112 - val_loss: 0.0152 - val_f1_m: 0.9146
Epoch 14/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0125 - f1_m: 0.9191 - val_loss: 0.0149 - val_f1_m: 0.9058
Epoch 15/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0121 - f1_m: 0.9174 - val_loss: 0.0145 - val_f1_m: 0.9065
Epoch 16/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0116 - f1_m: 0.9181 - val_loss: 0.0120 - val_f1_m: 0.9242
Epoch 17/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0106 - f1_m: 0.9325 - val_loss: 0.0151 - val_f1_m: 0.9165
Epoch 18/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0110 - f1_m: 0.9262 - val_loss: 0.0150 - val_f1_m: 0.9152
Epoch 19/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0106 - f1_m: 0.9356 - val_loss: 0.0143 - val_f1_m: 0.9136
Epoch 20/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0095 - f1_m: 0.9408 - val_loss: 0.0145 - val_f1_m: 0.9110
Epoch 21/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0094 - f1_m: 0.9349 - val_loss: 0.0144 - val_f1_m: 0.9161
Epoch 22/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0094 - f1_m: 0.9399 - val_loss: 0.0131 - val_f1_m: 0.9176
Epoch 23/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0085 - f1_m: 0.9414 - val_loss: 0.0149 - val_f1_m: 0.8976
Epoch 24/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0087 - f1_m: 0.9435 - val_loss: 0.0145 - val_f1_m: 0.9383
Epoch 25/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0087 - f1_m: 0.9441 - val_loss: 0.0141 - val_f1_m: 0.9156
Epoch 26/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0079 - f1_m: 0.9511 - val_loss: 0.0148 - val_f1_m: 0.9258
Epoch 27/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0081 - f1_m: 0.9481 - val_loss: 0.0145 - val_f1_m: 0.9070
Epoch 28/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0080 - f1_m: 0.9481 - val_loss: 0.0156 - val_f1_m: 0.9261
Epoch 29/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0081 - f1_m: 0.9450 - val_loss: 0.0140 - val_f1_m: 0.9252
Epoch 30/45
858/858 [==============================] - 3s 4ms/step - loss: 0.0077 - f1_m: 0.9478 - val_loss: 0.0187 - val_f1_m: 0.9107
Epoch 31/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0067 - f1_m: 0.9543 - val_loss: 0.0172 - val_f1_m: 0.8989
Epoch 32/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0070 - f1_m: 0.9484 - val_loss: 0.0153 - val_f1_m: 0.9351
Epoch 33/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0070 - f1_m: 0.9434 - val_loss: 0.0146 - val_f1_m: 0.9371
Epoch 34/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0067 - f1_m: 0.9555 - val_loss: 0.0142 - val_f1_m: 0.9334
Epoch 35/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0073 - f1_m: 0.9544 - val_loss: 0.0126 - val_f1_m: 0.9098
Epoch 36/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0061 - f1_m: 0.9636 - val_loss: 0.0118 - val_f1_m: 0.9405
Epoch 37/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0060 - f1_m: 0.9576 - val_loss: 0.0121 - val_f1_m: 0.9425
Epoch 38/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0062 - f1_m: 0.9502 - val_loss: 0.0144 - val_f1_m: 0.9222
Epoch 39/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0062 - f1_m: 0.9622 - val_loss: 0.0154 - val_f1_m: 0.9024
Epoch 40/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0055 - f1_m: 0.9644 - val_loss: 0.0144 - val_f1_m: 0.9222
Epoch 41/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0063 - f1_m: 0.9536 - val_loss: 0.0123 - val_f1_m: 0.9281
Epoch 42/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0058 - f1_m: 0.9614 - val_loss: 0.0154 - val_f1_m: 0.9291
Epoch 43/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0056 - f1_m: 0.9625 - val_loss: 0.0143 - val_f1_m: 0.9325
Epoch 44/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0057 - f1_m: 0.9589 - val_loss: 0.0122 - val_f1_m: 0.9255
Epoch 45/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0058 - f1_m: 0.9609 - val_loss: 0.0146 - val_f1_m: 0.9180
INFO:tensorflow:Assets written to: model\assets
Model: "sequential_10"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_40 (Dense)             multiple                  16200
_________________________________________________________________
dropout_20 (Dropout)         multiple                  0
_________________________________________________________________
dense_41 (Dense)             multiple                  14070
_________________________________________________________________
dropout_21 (Dropout)         multiple                  0
_________________________________________________________________
dense_42 (Dense)             multiple                  2130
_________________________________________________________________
dense_43 (Dense)             multiple                  31
=================================================================
Total params: 32,431
Trainable params: 32,431
Non-trainable params: 0
_________________________________________________________________
None

### F1 score on the validation set

In [44]:
from sklearn.metrics import f1_score
y_pred = np.around(model.predict(X_val))
f1_score(y_val, y_pred)

0.9259259259259259

# Predictions

In [45]:
X_test = enc.transform(X_test_df).toarray()

In [46]:
y_test=np.around(model.predict(X_test))

In [47]:
np.savetxt("submission.txt", y_test, fmt="%d")

In [48]:
display(y_test)

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]], dtype=float32)