In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf

np.random.seed(1337)
tf.random.set_seed(1337)

# Data

In [2]:
# Load the dataframes
train_data = pd.read_csv("data/train.csv")
test_data=pd.read_csv("data/test.csv")

# Preview the dataframes
display(train_data.head(10))
display(test_data.head(10))

  Sequence  Active
0     DKWL       0
1     FCHN       0
2     KDQP       0
3     FNWI       0
4     NKRM       0
5     IWHA       0
6     GEFV       0
7     KARS       0
8     IMGW       0
9     KYRK       0

  Sequence
0     HWFK
1     MWPW
2     ALDV
3     NTLG
4     LHYY
5     AFGM
6     TPNY
7     EAKD
8     NDKE
9     GFIS

In [3]:
def create_char_df(df):
    """Create a dataframe that contains four columns (one for each char in 'Sequence')."""

    # Split sequences into characters
    first = []
    second = []
    third = []
    fourth = []

    for _, row in df.iterrows():
        ch_1, ch_2, ch_3, ch_4 = row["Sequence"]

        first.append(ch_1)
        second.append(ch_2)
        third.append(ch_3)
        fourth.append(ch_4)

    df_dict = {
        "first": first,
        "second": second,
        "third": third,
        "fourth": fourth
    }
    return pd.DataFrame(df_dict)

X_df = create_char_df(train_data)
X_test_df = create_char_df(test_data)

display(X_df.head(5))
display(X_test_df.head(5))

  first second third fourth
0     D      K     W      L
1     F      C     H      N
2     K      D     Q      P
3     F      N     W      I
4     N      K     R      M

  first second third fourth
0     H      W     F      K
1     M      W     P      W
2     A      L     D      V
3     N      T     L      G
4     L      H     Y      Y

## OneHot Encoding

In [4]:
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(X_df)

display(enc.categories_)

# Ensure the onehots are the same for each letter
assert((enc.categories_[0] == enc.categories_[1]).all() and (enc.categories_[1] == enc.categories_[2]).all() and (enc.categories_[2] == enc.categories_[3]).all())

[array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object)]

# Training

In [55]:
from sklearn.model_selection import train_test_split

X = enc.transform(X_df).toarray()
y = train_data["Active"].values

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.02, random_state=1337, stratify=y)

# Create training np arrays
#X_train = enc.transform(X_df).toarray().reshape(-1, 4, 20)
#y_train = train_data["Active"].values

In [56]:
from keras import backend as K

def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [57]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Dense, GRU, Bidirectional, Dropout
import keras

batch_size = 128

model = Sequential()
#model.add(Bidirectional(GRU(20, input_shape=(4, 20))))
model.add(Dense(200, activation = 'relu'))
model.add(Dropout(0.3))
model.add(Dense(70, activation = 'relu'))
model.add(Dropout(0.2))
model.add(Dense(30, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))
optimizer = keras.optimizers.Adam(learning_rate=0.001)
model.compile(
    loss='binary_crossentropy',
    optimizer=optimizer,
    metrics=[f1_m]
)

history = model.fit(X_train, y_train, epochs=64, batch_size=batch_size, validation_data=(X_val, y_val))
print(model.summary())

Epoch 1/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0842 - f1_m: 0.3786 - val_loss: 0.0428 - val_f1_m: 0.6987
Epoch 2/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0397 - f1_m: 0.7484 - val_loss: 0.0238 - val_f1_m: 0.8435
Epoch 3/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0301 - f1_m: 0.8131 - val_loss: 0.0202 - val_f1_m: 0.8731
Epoch 4/64
858/858 [==============================] - 2s 2ms/step - loss: 0.0256 - f1_m: 0.8341 - val_loss: 0.0216 - val_f1_m: 0.8471
Epoch 5/64
858/858 [==============================] - 2s 2ms/step - loss: 0.0225 - f1_m: 0.8587 - val_loss: 0.0156 - val_f1_m: 0.9138
Epoch 6/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0203 - f1_m: 0.8704 - val_loss: 0.0168 - val_f1_m: 0.9003
Epoch 7/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0184 - f1_m: 0.8895 - val_loss: 0.0160 - val_f1_m: 0.8933
Epoch 8/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0171 - f1_m: 0.8873 - val_loss: 0.0160 - val_f1_m: 0.9211
Epoch 9/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0157 - f1_m: 0.8938 - val_loss: 0.0155 - val_f1_m: 0.9003
Epoch 10/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0144 - f1_m: 0.9117 - val_loss: 0.0159 - val_f1_m: 0.9265
Epoch 11/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0144 - f1_m: 0.9048 - val_loss: 0.0164 - val_f1_m: 0.9003
Epoch 12/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0136 - f1_m: 0.9160 - val_loss: 0.0151 - val_f1_m: 0.9042
Epoch 13/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0127 - f1_m: 0.9177 - val_loss: 0.0147 - val_f1_m: 0.9087
Epoch 14/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0124 - f1_m: 0.9178 - val_loss: 0.0143 - val_f1_m: 0.9185
Epoch 15/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0112 - f1_m: 0.9255 - val_loss: 0.0172 - val_f1_m: 0.9048
Epoch 16/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0105 - f1_m: 0.9321 - val_loss: 0.0153 - val_f1_m: 0.9097
Epoch 17/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0109 - f1_m: 0.9287 - val_loss: 0.0156 - val_f1_m: 0.9049
Epoch 18/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0104 - f1_m: 0.9324 - val_loss: 0.0164 - val_f1_m: 0.8930
Epoch 19/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0097 - f1_m: 0.9374 - val_loss: 0.0147 - val_f1_m: 0.9040
Epoch 20/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0090 - f1_m: 0.9396 - val_loss: 0.0157 - val_f1_m: 0.9224
Epoch 21/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0090 - f1_m: 0.9386 - val_loss: 0.0130 - val_f1_m: 0.9228
Epoch 22/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0091 - f1_m: 0.9377 - val_loss: 0.0162 - val_f1_m: 0.9050
Epoch 23/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0096 - f1_m: 0.9325 - val_loss: 0.0148 - val_f1_m: 0.9241
Epoch 24/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0085 - f1_m: 0.9446 - val_loss: 0.0144 - val_f1_m: 0.9075
Epoch 25/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0088 - f1_m: 0.9429 - val_loss: 0.0139 - val_f1_m: 0.9057
Epoch 26/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0082 - f1_m: 0.9471 - val_loss: 0.0164 - val_f1_m: 0.8953
Epoch 27/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0080 - f1_m: 0.9446 - val_loss: 0.0139 - val_f1_m: 0.9019
Epoch 28/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0074 - f1_m: 0.9545 - val_loss: 0.0202 - val_f1_m: 0.8979
Epoch 29/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0074 - f1_m: 0.9510 - val_loss: 0.0137 - val_f1_m: 0.9049
Epoch 30/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0072 - f1_m: 0.9512 - val_loss: 0.0172 - val_f1_m: 0.9043
Epoch 31/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0072 - f1_m: 0.9522 - val_loss: 0.0179 - val_f1_m: 0.9223
Epoch 32/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0069 - f1_m: 0.9486 - val_loss: 0.0156 - val_f1_m: 0.9220
Epoch 33/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0068 - f1_m: 0.9451 - val_loss: 0.0135 - val_f1_m: 0.9027
Epoch 34/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0063 - f1_m: 0.9573 - val_loss: 0.0176 - val_f1_m: 0.9019
Epoch 35/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0072 - f1_m: 0.9513 - val_loss: 0.0148 - val_f1_m: 0.9129
Epoch 36/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0061 - f1_m: 0.9575 - val_loss: 0.0202 - val_f1_m: 0.9083
Epoch 37/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0062 - f1_m: 0.9555 - val_loss: 0.0177 - val_f1_m: 0.8804
Epoch 38/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0061 - f1_m: 0.9486 - val_loss: 0.0182 - val_f1_m: 0.8854
Epoch 39/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0063 - f1_m: 0.9598 - val_loss: 0.0147 - val_f1_m: 0.9082
Epoch 40/64
858/858 [==============================] - 2s 2ms/step - loss: 0.0064 - f1_m: 0.9524 - val_loss: 0.0173 - val_f1_m: 0.8926
Epoch 41/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0061 - f1_m: 0.9514 - val_loss: 0.0159 - val_f1_m: 0.9074
Epoch 42/64
858/858 [==============================] - 2s 2ms/step - loss: 0.0056 - f1_m: 0.9603 - val_loss: 0.0190 - val_f1_m: 0.8953
Epoch 43/64
858/858 [==============================] - 3s 3ms/step - loss: 0.0055 - f1_m: 0.9639 - val_loss: 0.0154 - val_f1_m: 0.9143
Epoch 44/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0057 - f1_m: 0.9594 - val_loss: 0.0157 - val_f1_m: 0.9024
Epoch 45/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0055 - f1_m: 0.9648 - val_loss: 0.0179 - val_f1_m: 0.9081
Epoch 46/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0060 - f1_m: 0.9517 - val_loss: 0.0183 - val_f1_m: 0.8845
Epoch 47/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0048 - f1_m: 0.9637 - val_loss: 0.0189 - val_f1_m: 0.8988
Epoch 48/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0053 - f1_m: 0.9628 - val_loss: 0.0179 - val_f1_m: 0.8931
Epoch 49/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0051 - f1_m: 0.9681 - val_loss: 0.0209 - val_f1_m: 0.8916
Epoch 50/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0049 - f1_m: 0.9654 - val_loss: 0.0190 - val_f1_m: 0.9061
Epoch 51/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0048 - f1_m: 0.9621 - val_loss: 0.0222 - val_f1_m: 0.9035
Epoch 52/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0052 - f1_m: 0.9634 - val_loss: 0.0201 - val_f1_m: 0.9049
Epoch 53/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0048 - f1_m: 0.9669 - val_loss: 0.0203 - val_f1_m: 0.8990
Epoch 54/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0048 - f1_m: 0.9700 - val_loss: 0.0251 - val_f1_m: 0.9033
Epoch 55/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0048 - f1_m: 0.9679 - val_loss: 0.0242 - val_f1_m: 0.8991
Epoch 56/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0045 - f1_m: 0.9653 - val_loss: 0.0280 - val_f1_m: 0.8924
Epoch 57/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0049 - f1_m: 0.9695 - val_loss: 0.0222 - val_f1_m: 0.8972
Epoch 58/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0042 - f1_m: 0.9693 - val_loss: 0.0199 - val_f1_m: 0.8967
Epoch 59/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0040 - f1_m: 0.9703 - val_loss: 0.0270 - val_f1_m: 0.8870
Epoch 60/64
858/858 [==============================] - 2s 2ms/step - loss: 0.0046 - f1_m: 0.9703 - val_loss: 0.0226 - val_f1_m: 0.9009
Epoch 61/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0047 - f1_m: 0.9679 - val_loss: 0.0246 - val_f1_m: 0.8821

Epoch 62/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0041 - f1_m: 0.9703 - val_loss: 0.0236 - val_f1_m: 0.9043
Epoch 63/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0045 - f1_m: 0.9657 - val_loss: 0.0211 - val_f1_m: 0.8988
Epoch 64/64
858/858 [==============================] - 2s 3ms/step - loss: 0.0041 - f1_m: 0.9713 - val_loss: 0.0206 - val_f1_m: 0.9178
Model: "sequential_24"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_84 (Dense)             multiple                  16200
_________________________________________________________________
dropout_45 (Dropout)         multiple                  0
_________________________________________________________________
dense_85 (Dense)             multiple                  14070
_________________________________________________________________
dropout_46 (Dropout)         multiple                  0
_________________________________________________________________
dense_86 (Dense)             multiple                  2130
_________________________________________________________________
dense_87 (Dense)             multiple                  31
=================================================================
Total params: 32,431
Trainable params: 32,431
Non-trainable params: 0
_________________________________________________________________
None

In [58]:
from sklearn.metrics import f1_score
y_pred = np.around(model.predict(X_val))
f1_score(y_val, y_pred)

0.9268292682926829

In [9]:
X_test = enc.transform(X_test_df).toarray()

In [10]:
y_test=np.around(model.predict(X_test))

In [11]:
np.savetxt("submission.txt", y_test, fmt="%d")

In [12]:
display(y_test)

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]], dtype=float32)