In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf

seed_value = 1337

# 1. Set `PYTHONHASHSEED` environment variable at a fixed value
import os
os.environ['PYTHONHASHSEED']=str(seed_value)

# 2. Set `python` built-in pseudo-random generator at a fixed value
import random
random.seed(seed_value)

# 3. Set `numpy` pseudo-random generator at a fixed value
np.random.seed(1337)

# 4. Set the `tensorflow` pseudo-random generator at a fixed value
tf.random.set_seed(1337)

# 5. Configure a new global `tensorflow` session
# for later versions:
session_conf = tf.compat.v1.ConfigProto(intra_op_parallelism_threads=1, inter_op_parallelism_threads=1)
sess = tf.compat.v1.Session(graph=tf.compat.v1.get_default_graph(), config=session_conf)
tf.compat.v1.keras.backend.set_session(sess)

# Data

In [2]:
# Load the dataframes
train_data = pd.read_csv("data/train.csv")
test_data=pd.read_csv("data/test.csv")

# Preview the dataframes
display(train_data.head(10))
display(test_data.head(10))

  Sequence  Active
0     DKWL       0
1     FCHN       0
2     KDQP       0
3     FNWI       0
4     NKRM       0
5     IWHA       0
6     GEFV       0
7     KARS       0
8     IMGW       0
9     KYRK       0

  Sequence
0     HWFK
1     MWPW
2     ALDV
3     NTLG
4     LHYY
5     AFGM
6     TPNY
7     EAKD
8     NDKE
9     GFIS

In [3]:
def create_char_df(df):
    """Create a dataframe that contains four columns (one for each char in 'Sequence')."""

    # Split sequences into characters
    first = []
    second = []
    third = []
    fourth = []

    for _, row in df.iterrows():
        ch_1, ch_2, ch_3, ch_4 = row["Sequence"]

        first.append(ch_1)
        second.append(ch_2)
        third.append(ch_3)
        fourth.append(ch_4)

    df_dict = {
        "first": first,
        "second": second,
        "third": third,
        "fourth": fourth
    }
    return pd.DataFrame(df_dict)

X_df = create_char_df(train_data)
X_test_df = create_char_df(test_data)

display(X_df.head(5))
display(X_test_df.head(5))

  first second third fourth
0     D      K     W      L
1     F      C     H      N
2     K      D     Q      P
3     F      N     W      I
4     N      K     R      M

  first second third fourth
0     H      W     F      K
1     M      W     P      W
2     A      L     D      V
3     N      T     L      G
4     L      H     Y      Y

## OneHot Encoding

In [4]:
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(X_df)

display(enc.categories_)

# Ensure the onehots are the same for each letter
assert((enc.categories_[0] == enc.categories_[1]).all() and (enc.categories_[1] == enc.categories_[2]).all() and (enc.categories_[2] == enc.categories_[3]).all())

[array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object)]

# Training

In [5]:
from sklearn.model_selection import train_test_split

X = enc.transform(X_df).toarray()
y = train_data["Active"].values

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.02, random_state=1337, stratify=y)

# Create training np arrays
#X_train = enc.transform(X_df).toarray().reshape(-1, 4, 20)
#y_train = train_data["Active"].values

In [6]:
from keras import backend as K

def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

Using TensorFlow backend.

In [7]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Dense, GRU, Bidirectional, Dropout
from keras.layers.normalization import BatchNormalization
import keras

batch_size = 128

model = Sequential()
#model.add(Bidirectional(GRU(20, input_shape=(4, 20))))
model.add(Dense(200, activation = 'relu'))
model.add(Dropout(0.3, seed=1337))
model.add(Dense(70, activation = 'relu'))
model.add(Dropout(0.2, seed=1337))
model.add(Dense(30, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))
optimizer = keras.optimizers.Adam(learning_rate=0.001)
model.compile(
    loss='binary_crossentropy',
    optimizer=optimizer,
    metrics=[f1_m]
)

history = model.fit(X_train, y_train, epochs=45, batch_size=batch_size, validation_data=(X_val, y_val))
model.save('model')
print(model.summary())

Epoch 1/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0755 - f1_m: 0.4578 - val_loss: 0.0398 - val_f1_m: 0.7771
Epoch 2/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0388 - f1_m: 0.7537 - val_loss: 0.0226 - val_f1_m: 0.8394
Epoch 3/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0296 - f1_m: 0.8076 - val_loss: 0.0180 - val_f1_m: 0.9118
Epoch 4/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0256 - f1_m: 0.8393 - val_loss: 0.0173 - val_f1_m: 0.9096
Epoch 5/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0222 - f1_m: 0.8602 - val_loss: 0.0136 - val_f1_m: 0.9279
Epoch 6/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0201 - f1_m: 0.8705 - val_loss: 0.0131 - val_f1_m: 0.9163
Epoch 7/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0184 - f1_m: 0.8814 - val_loss: 0.0155 - val_f1_m: 0.9216
Epoch 8/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0165 - f1_m: 0.8907 - val_loss: 0.0157 - val_f1_m: 0.8942
Epoch 9/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0158 - f1_m: 0.8942 - val_loss: 0.0122 - val_f1_m: 0.9438
Epoch 10/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0152 - f1_m: 0.9024 - val_loss: 0.0148 - val_f1_m: 0.8903
Epoch 11/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0145 - f1_m: 0.9015 - val_loss: 0.0116 - val_f1_m: 0.9168
Epoch 12/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0136 - f1_m: 0.9159 - val_loss: 0.0117 - val_f1_m: 0.9326
Epoch 13/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0131 - f1_m: 0.9138 - val_loss: 0.0111 - val_f1_m: 0.9360
Epoch 14/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0120 - f1_m: 0.9228 - val_loss: 0.0128 - val_f1_m: 0.9210
Epoch 15/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0117 - f1_m: 0.9251 - val_loss: 0.0105 - val_f1_m: 0.9261
Epoch 16/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0110 - f1_m: 0.9251 - val_loss: 0.0158 - val_f1_m: 0.9022
Epoch 17/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0112 - f1_m: 0.9260 - val_loss: 0.0137 - val_f1_m: 0.9290
Epoch 18/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0101 - f1_m: 0.9332 - val_loss: 0.0141 - val_f1_m: 0.9161
Epoch 19/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0104 - f1_m: 0.9293 - val_loss: 0.0140 - val_f1_m: 0.9275
Epoch 20/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0098 - f1_m: 0.9305 - val_loss: 0.0114 - val_f1_m: 0.9273
Epoch 21/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0096 - f1_m: 0.9352 - val_loss: 0.0133 - val_f1_m: 0.9053
Epoch 22/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0093 - f1_m: 0.9397 - val_loss: 0.0136 - val_f1_m: 0.9207
Epoch 23/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0090 - f1_m: 0.9416 - val_loss: 0.0118 - val_f1_m: 0.9241
Epoch 24/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0087 - f1_m: 0.9434 - val_loss: 0.0123 - val_f1_m: 0.9304
Epoch 25/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0085 - f1_m: 0.9436 - val_loss: 0.0119 - val_f1_m: 0.9324
Epoch 26/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0081 - f1_m: 0.9476 - val_loss: 0.0145 - val_f1_m: 0.9278
Epoch 27/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0077 - f1_m: 0.9458 - val_loss: 0.0153 - val_f1_m: 0.9162
Epoch 28/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0078 - f1_m: 0.9487 - val_loss: 0.0176 - val_f1_m: 0.8933
Epoch 29/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0075 - f1_m: 0.9500 - val_loss: 0.0136 - val_f1_m: 0.9285
Epoch 30/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0072 - f1_m: 0.9457 - val_loss: 0.0164 - val_f1_m: 0.9069
Epoch 31/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0075 - f1_m: 0.9521 - val_loss: 0.0154 - val_f1_m: 0.8967
Epoch 32/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0077 - f1_m: 0.9436 - val_loss: 0.0124 - val_f1_m: 0.9155
Epoch 33/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0067 - f1_m: 0.9463 - val_loss: 0.0132 - val_f1_m: 0.9351
Epoch 34/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0066 - f1_m: 0.9580 - val_loss: 0.0131 - val_f1_m: 0.9016
Epoch 35/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0069 - f1_m: 0.9490 - val_loss: 0.0126 - val_f1_m: 0.8989
Epoch 36/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0066 - f1_m: 0.9551 - val_loss: 0.0140 - val_f1_m: 0.8973
Epoch 37/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0062 - f1_m: 0.9545 - val_loss: 0.0117 - val_f1_m: 0.9381
Epoch 38/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0066 - f1_m: 0.9464 - val_loss: 0.0129 - val_f1_m: 0.9126
Epoch 39/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0058 - f1_m: 0.9652 - val_loss: 0.0162 - val_f1_m: 0.9049
Epoch 40/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0057 - f1_m: 0.9599 - val_loss: 0.0130 - val_f1_m: 0.9216
Epoch 41/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0057 - f1_m: 0.9584 - val_loss: 0.0123 - val_f1_m: 0.9261
Epoch 42/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0057 - f1_m: 0.9622 - val_loss: 0.0176 - val_f1_m: 0.9080
Epoch 43/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0060 - f1_m: 0.9605 - val_loss: 0.0141 - val_f1_m: 0.9279
Epoch 44/45
858/858 [==============================] - 3s 3ms/step - loss: 0.0060 - f1_m: 0.9563 - val_loss: 0.0135 - val_f1_m: 0.9309
Epoch 45/45
858/858 [==============================] - 2s 3ms/step - loss: 0.0056 - f1_m: 0.9632 - val_loss: 0.0139 - val_f1_m: 0.9290
WARNING:tensorflow:From C:\Users\David\Anaconda3\envs\iml\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:1813: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
INFO:tensorflow:Assets written to: model\assets
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                multiple                  16200
_________________________________________________________________
dropout (Dropout)            multiple                  0
_________________________________________________________________
dense_1 (Dense)              multiple                  14070
_________________________________________________________________
dropout_1 (Dropout)          multiple                  0
_________________________________________________________________
dense_2 (Dense)              multiple                  2130
_________________________________________________________________
dense_3 (Dense)              multiple                  31
=================================================================
Total params: 32,431
Trainable params: 32,431
Non-trainable params: 0
_________________________________________________________________
None

In [8]:
from sklearn.metrics import f1_score
y_pred = np.around(model.predict(X_val))
f1_score(y_val, y_pred)

0.9333333333333332

In [9]:
X_test = enc.transform(X_test_df).toarray()

In [10]:
y_test=np.around(model.predict(X_test))

In [11]:
np.savetxt("submission.txt", y_test, fmt="%d")

In [12]:
display(y_test)

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]], dtype=float32)