In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf

np.random.seed(1337)
tf.random.set_seed(1337)

# Data

In [2]:
# Load the dataframes
train_data = pd.read_csv("data/train.csv")
test_data=pd.read_csv("data/test.csv")

# Preview the dataframes
display(train_data.head(10))
display(test_data.head(10))

  Sequence  Active
0     DKWL       0
1     FCHN       0
2     KDQP       0
3     FNWI       0
4     NKRM       0
5     IWHA       0
6     GEFV       0
7     KARS       0
8     IMGW       0
9     KYRK       0

  Sequence
0     HWFK
1     MWPW
2     ALDV
3     NTLG
4     LHYY
5     AFGM
6     TPNY
7     EAKD
8     NDKE
9     GFIS

In [3]:
def create_char_df(df):
    """Create a dataframe that contains four columns (one for each char in 'Sequence')."""

    # Split sequences into characters
    first = []
    second = []
    third = []
    fourth = []

    for _, row in df.iterrows():
        ch_1, ch_2, ch_3, ch_4 = row["Sequence"]

        first.append(ch_1)
        second.append(ch_2)
        third.append(ch_3)
        fourth.append(ch_4)

    df_dict = {
        "first": first,
        "second": second,
        "third": third,
        "fourth": fourth
    }
    return pd.DataFrame(df_dict)

X_df = create_char_df(train_data)
X_test_df = create_char_df(test_data)

display(X_df.head(5))
display(X_test_df.head(5))

  first second third fourth
0     D      K     W      L
1     F      C     H      N
2     K      D     Q      P
3     F      N     W      I
4     N      K     R      M

  first second third fourth
0     H      W     F      K
1     M      W     P      W
2     A      L     D      V
3     N      T     L      G
4     L      H     Y      Y

## OneHot Encoding

In [4]:
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(X_df)

display(enc.categories_)

# Ensure the onehots are the same for each letter
assert((enc.categories_[0] == enc.categories_[1]).all() and (enc.categories_[1] == enc.categories_[2]).all() and (enc.categories_[2] == enc.categories_[3]).all())

[array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object)]

# Training

In [5]:
from sklearn.model_selection import train_test_split

X = enc.transform(X_df).toarray()
y = train_data["Active"].values

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.02, random_state=1337, stratify=y)

# Create training np arrays
#X_train = enc.transform(X_df).toarray().reshape(-1, 4, 20)
#y_train = train_data["Active"].values

In [6]:
from keras import backend as K

def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

Using TensorFlow backend.

In [ ]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Dense, GRU, Bidirectional, Dropout
import keras
from sklearn.utils.class_weight import compute_class_weight

class_weight = compute_class_weight('balanced', np.unique(y_train), y_train)
class_weights = {
    0: class_weight[0] / np.sum(class_weight),
    1: class_weight[1] / np.sum(class_weight)
}

batch_size = 128

model = Sequential()
model.add(Dense(120, activation = 'relu', input_dim=80))
model.add(Dropout(0.2))
model.add(Dense(40, activation = 'relu'))
#model.add(Dense(80, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))
optimizer = keras.optimizers.Adam(learning_rate=0.001)
model.compile(
    loss='binary_crossentropy',
    optimizer=optimizer,
    metrics=[f1_m]
)

history = model.fit(X_train, y_train, epochs=50, batch_size=batch_size, validation_data=(X_val, y_val))
print(model.summary())

Epoch 1/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0933 - f1_m: 0.3334 - val_loss: 0.0479 - val_f1_m: 0.6638
Epoch 2/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0430 - f1_m: 0.7293 - val_loss: 0.0291 - val_f1_m: 0.7883
Epoch 3/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0324 - f1_m: 0.8003 - val_loss: 0.0228 - val_f1_m: 0.8600
Epoch 4/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0275 - f1_m: 0.8258 - val_loss: 0.0209 - val_f1_m: 0.8415
Epoch 5/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0242 - f1_m: 0.8513 - val_loss: 0.0178 - val_f1_m: 0.8999
Epoch 6/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0213 - f1_m: 0.8691 - val_loss: 0.0176 - val_f1_m: 0.9016
Epoch 7/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0202 - f1_m: 0.8755 - val_loss: 0.0156 - val_f1_m: 0.9008
Epoch 8/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0186 - f1_m: 0.8802 - val_loss: 0.0148 - val_f1_m: 0.8995
Epoch 9/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0171 - f1_m: 0.8916 - val_loss: 0.0134 - val_f1_m: 0.9115
Epoch 10/50
858/858 [==============================] - 1s 2ms/step - loss: 0.0166 - f1_m: 0.8981 - val_loss: 0.0141 - val_f1_m: 0.9137
Epoch 11/50
858/858 [==============================] - 1s 2ms/step - loss: 0.0157 - f1_m: 0.8980 - val_loss: 0.0137 - val_f1_m: 0.9157
Epoch 12/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0148 - f1_m: 0.9089 - val_loss: 0.0156 - val_f1_m: 0.8891
Epoch 13/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0138 - f1_m: 0.9092 - val_loss: 0.0155 - val_f1_m: 0.9112
Epoch 14/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0136 - f1_m: 0.9148 - val_loss: 0.0144 - val_f1_m: 0.9020
Epoch 15/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0126 - f1_m: 0.9178 - val_loss: 0.0149 - val_f1_m: 0.8977
Epoch 16/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0121 - f1_m: 0.9194 - val_loss: 0.0131 - val_f1_m: 0.9260
Epoch 17/50
858/858 [==============================] - 1s 2ms/step - loss: 0.0125 - f1_m: 0.9186 - val_loss: 0.0139 - val_f1_m: 0.9063
Epoch 18/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0117 - f1_m: 0.9232 - val_loss: 0.0136 - val_f1_m: 0.9168
Epoch 19/50
858/858 [==============================] - 1s 2ms/step - loss: 0.0107 - f1_m: 0.9339 - val_loss: 0.0164 - val_f1_m: 0.9188
Epoch 20/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0115 - f1_m: 0.9270 - val_loss: 0.0136 - val_f1_m: 0.9033
Epoch 21/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0104 - f1_m: 0.9322 - val_loss: 0.0154 - val_f1_m: 0.9101
Epoch 22/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0099 - f1_m: 0.9367 - val_loss: 0.0141 - val_f1_m: 0.9090
Epoch 23/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0099 - f1_m: 0.9289 - val_loss: 0.0156 - val_f1_m: 0.9118
Epoch 24/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0096 - f1_m: 0.9349 - val_loss: 0.0155 - val_f1_m: 0.9237
Epoch 25/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0091 - f1_m: 0.9375 - val_loss: 0.0158 - val_f1_m: 0.9126
Epoch 26/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0091 - f1_m: 0.9449 - val_loss: 0.0163 - val_f1_m: 0.9203
Epoch 27/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0087 - f1_m: 0.9407 - val_loss: 0.0140 - val_f1_m: 0.9265
Epoch 28/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0086 - f1_m: 0.9427 - val_loss: 0.0161 - val_f1_m: 0.9092
Epoch 29/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0082 - f1_m: 0.9415 - val_loss: 0.0179 - val_f1_m: 0.9081
Epoch 30/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0082 - f1_m: 0.9435 - val_loss: 0.0180 - val_f1_m: 0.9134
Epoch 31/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0075 - f1_m: 0.9502 - val_loss: 0.0177 - val_f1_m: 0.9124
Epoch 32/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0078 - f1_m: 0.9415 - val_loss: 0.0178 - val_f1_m: 0.9081
Epoch 33/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0071 - f1_m: 0.9460 - val_loss: 0.0163 - val_f1_m: 0.8981
Epoch 34/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0077 - f1_m: 0.9508 - val_loss: 0.0167 - val_f1_m: 0.9175
Epoch 35/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0071 - f1_m: 0.9516 - val_loss: 0.0191 - val_f1_m: 0.9114
Epoch 36/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0074 - f1_m: 0.9536 - val_loss: 0.0185 - val_f1_m: 0.9175
Epoch 37/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0068 - f1_m: 0.9493 - val_loss: 0.0153 - val_f1_m: 0.9200
Epoch 38/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0070 - f1_m: 0.9388 - val_loss: 0.0204 - val_f1_m: 0.9138
Epoch 39/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0063 - f1_m: 0.9585 - val_loss: 0.0176 - val_f1_m: 0.9274
Epoch 40/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0068 - f1_m: 0.9536 - val_loss: 0.0197 - val_f1_m: 0.9138
Epoch 41/50
 66/858 [=>............................] - ETA: 1s - loss: 0.0060 - f1_m: 0.9589

In [ ]:
from sklearn.metrics import f1_score
y_pred = np.around(model.predict(X_val))
f1_score(y_val, y_pred)

In [ ]:
X_test = enc.transform(X_test_df).toarray()

In [ ]:
y_test=np.around(model.predict(X_test))

In [ ]:
np.savetxt("submission.txt", y_test, fmt="%d")

In [ ]:
display(y_test)