In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

# Data

In [2]:
# Load the dataframes
train_data = pd.read_csv("data/train.csv")
test_data=pd.read_csv("data/test.csv")

# Preview the dataframes
display(train_data.head(10))
display(test_data.head(10))

  Sequence  Active
0     DKWL       0
1     FCHN       0
2     KDQP       0
3     FNWI       0
4     NKRM       0
5     IWHA       0
6     GEFV       0
7     KARS       0
8     IMGW       0
9     KYRK       0

  Sequence
0     HWFK
1     MWPW
2     ALDV
3     NTLG
4     LHYY
5     AFGM
6     TPNY
7     EAKD
8     NDKE
9     GFIS

In [3]:
def create_char_df(df):
    """Create a dataframe that contains four columns (one for each char in 'Sequence')."""

    # Split sequences into characters
    first = []
    second = []
    third = []
    fourth = []

    for _, row in df.iterrows():
        ch_1, ch_2, ch_3, ch_4 = row["Sequence"]

        first.append(ch_1)
        second.append(ch_2)
        third.append(ch_3)
        fourth.append(ch_4)

    df_dict = {
        "first": first,
        "second": second,
        "third": third,
        "fourth": fourth
    }
    return pd.DataFrame(df_dict)

X_df = create_char_df(train_data)
X_test_df = create_char_df(test_data)

display(X_df.head(5))
display(X_test_df.head(5))

  first second third fourth
0     D      K     W      L
1     F      C     H      N
2     K      D     Q      P
3     F      N     W      I
4     N      K     R      M

  first second third fourth
0     H      W     F      K
1     M      W     P      W
2     A      L     D      V
3     N      T     L      G
4     L      H     Y      Y

## OneHot Encoding

In [4]:
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(X_df)

display(enc.categories_)

# Ensure the onehots are the same for each letter
assert((enc.categories_[0] == enc.categories_[1]).all() and (enc.categories_[1] == enc.categories_[2]).all() and (enc.categories_[2] == enc.categories_[3]).all())

[array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object),
 array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
        'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], dtype=object)]

# Training

In [89]:
from sklearn.model_selection import train_test_split

X = enc.transform(X_df).toarray()
y = train_data["Active"].values

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.02, random_state=1337, stratify=y)

# Create training np arrays
#X_train = enc.transform(X_df).toarray().reshape(-1, 4, 20)
#y_train = train_data["Active"].values

In [90]:
from keras import backend as K

def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [91]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Dense, GRU, Bidirectional, Dropout
import keras
from sklearn.utils.class_weight import compute_class_weight

class_weight = compute_class_weight('balanced', np.unique(y_train), y_train)
class_weights = {
    0: class_weight[0] / np.sum(class_weight),
    1: class_weight[1] / np.sum(class_weight)
}

batch_size = 128

model = Sequential()
model.add(Dense(120, activation = 'relu', input_dim=80))
model.add(Dropout(0.2))
model.add(Dense(40, activation = 'relu'))
#model.add(Dense(80, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))
optimizer = keras.optimizers.Adam(learning_rate=0.001)
model.compile(
    loss='binary_crossentropy',
    optimizer=optimizer,
    metrics=[f1_m]
)

history = model.fit(X_train, y_train, epochs=50, batch_size=batch_size, validation_data=(X_val, y_val))
print(model.summary())

Epoch 1/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0822 - f1_m: 0.4064 - val_loss: 0.0461 - val_f1_m: 0.7594
Epoch 2/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0411 - f1_m: 0.7536 - val_loss: 0.0261 - val_f1_m: 0.8694
Epoch 3/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0320 - f1_m: 0.7940 - val_loss: 0.0219 - val_f1_m: 0.8797
Epoch 4/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0268 - f1_m: 0.8300 - val_loss: 0.0202 - val_f1_m: 0.8809
Epoch 5/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0242 - f1_m: 0.8553 - val_loss: 0.0186 - val_f1_m: 0.9200
Epoch 6/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0221 - f1_m: 0.8644 - val_loss: 0.0163 - val_f1_m: 0.8975
Epoch 7/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0204 - f1_m: 0.8711 - val_loss: 0.0182 - val_f1_m: 0.8824
Epoch 8/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0194 - f1_m: 0.8727 - val_loss: 0.0178 - val_f1_m: 0.8757
Epoch 9/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0178 - f1_m: 0.8873 - val_loss: 0.0165 - val_f1_m: 0.9078
Epoch 10/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0162 - f1_m: 0.9004 - val_loss: 0.0175 - val_f1_m: 0.8959
Epoch 11/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0158 - f1_m: 0.9001 - val_loss: 0.0160 - val_f1_m: 0.9157
Epoch 12/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0151 - f1_m: 0.9032 - val_loss: 0.0127 - val_f1_m: 0.9223
Epoch 13/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0147 - f1_m: 0.9058 - val_loss: 0.0153 - val_f1_m: 0.9119
Epoch 14/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0144 - f1_m: 0.9093 - val_loss: 0.0160 - val_f1_m: 0.9160
Epoch 15/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0133 - f1_m: 0.9111 - val_loss: 0.0143 - val_f1_m: 0.8877
Epoch 16/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0134 - f1_m: 0.9111 - val_loss: 0.0159 - val_f1_m: 0.9015
Epoch 17/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0129 - f1_m: 0.9127 - val_loss: 0.0158 - val_f1_m: 0.9015
Epoch 18/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0129 - f1_m: 0.9095 - val_loss: 0.0136 - val_f1_m: 0.9112
Epoch 19/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0122 - f1_m: 0.9164 - val_loss: 0.0141 - val_f1_m: 0.9217
Epoch 20/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0115 - f1_m: 0.9290 - val_loss: 0.0157 - val_f1_m: 0.9028
Epoch 21/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0112 - f1_m: 0.9291 - val_loss: 0.0154 - val_f1_m: 0.9006
Epoch 22/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0114 - f1_m: 0.9249 - val_loss: 0.0147 - val_f1_m: 0.8926
Epoch 23/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0104 - f1_m: 0.9360 - val_loss: 0.0143 - val_f1_m: 0.9072
Epoch 24/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0099 - f1_m: 0.9303 - val_loss: 0.0153 - val_f1_m: 0.8847
Epoch 25/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0104 - f1_m: 0.9379 - val_loss: 0.0180 - val_f1_m: 0.8896
Epoch 26/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0095 - f1_m: 0.9408 - val_loss: 0.0139 - val_f1_m: 0.9135
Epoch 27/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0095 - f1_m: 0.9355 - val_loss: 0.0146 - val_f1_m: 0.8951
Epoch 28/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0093 - f1_m: 0.9365 - val_loss: 0.0137 - val_f1_m: 0.8814
Epoch 29/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0092 - f1_m: 0.9366 - val_loss: 0.0178 - val_f1_m: 0.9061
Epoch 30/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0085 - f1_m: 0.9421 - val_loss: 0.0154 - val_f1_m: 0.9135
Epoch 31/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0088 - f1_m: 0.9458 - val_loss: 0.0170 - val_f1_m: 0.9061
Epoch 32/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0087 - f1_m: 0.9473 - val_loss: 0.0163 - val_f1_m: 0.9196
Epoch 33/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0082 - f1_m: 0.9464 - val_loss: 0.0207 - val_f1_m: 0.8731
Epoch 34/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0082 - f1_m: 0.9423 - val_loss: 0.0170 - val_f1_m: 0.9124
Epoch 35/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0082 - f1_m: 0.9408 - val_loss: 0.0128 - val_f1_m: 0.9077
Epoch 36/50
858/858 [==============================] - 2s 3ms/step - loss: 0.0078 - f1_m: 0.9517 - val_loss: 0.0160 - val_f1_m: 0.9151
Epoch 37/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0078 - f1_m: 0.9487 - val_loss: 0.0161 - val_f1_m: 0.9004
Epoch 38/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0073 - f1_m: 0.9543 - val_loss: 0.0164 - val_f1_m: 0.9053
Epoch 39/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0078 - f1_m: 0.9453 - val_loss: 0.0173 - val_f1_m: 0.9059
Epoch 40/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0071 - f1_m: 0.9521 - val_loss: 0.0139 - val_f1_m: 0.9217
Epoch 41/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0071 - f1_m: 0.9579 - val_loss: 0.0152 - val_f1_m: 0.9111
Epoch 42/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0076 - f1_m: 0.9552 - val_loss: 0.0161 - val_f1_m: 0.8819
Epoch 43/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0071 - f1_m: 0.9509 - val_loss: 0.0186 - val_f1_m: 0.9022
Epoch 44/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0064 - f1_m: 0.9606 - val_loss: 0.0128 - val_f1_m: 0.9196
Epoch 45/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0071 - f1_m: 0.9490 - val_loss: 0.0124 - val_f1_m: 0.9259
Epoch 46/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0063 - f1_m: 0.9565 - val_loss: 0.0142 - val_f1_m: 0.8919
Epoch 47/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0066 - f1_m: 0.9507 - val_loss: 0.0149 - val_f1_m: 0.9048
Epoch 48/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0067 - f1_m: 0.9550 - val_loss: 0.0152 - val_f1_m: 0.9006
Epoch 49/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0062 - f1_m: 0.9581 - val_loss: 0.0176 - val_f1_m: 0.8932
Epoch 50/50
858/858 [==============================] - 2s 2ms/step - loss: 0.0058 - f1_m: 0.9586 - val_loss: 0.0125 - val_f1_m: 0.9078
Model: "sequential_36"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_56 (Dense)             (None, 120)               9720
_________________________________________________________________
dropout_3 (Dropout)          (None, 120)               0
_________________________________________________________________
dense_57 (Dense)             (None, 40)                4840
_________________________________________________________________
dense_58 (Dense)             (None, 1)                 41
=================================================================
Total params: 14,601
Trainable params: 14,601
Non-trainable params: 0
_________________________________________________________________
None

In [92]:
from sklearn.metrics import f1_score
y_pred = np.around(model.predict(X_val))
f1_score(y_val, y_pred)

0.920245398773006

In [93]:
X_test = enc.transform(X_test_df).toarray()

In [94]:
y_test=np.around(model.predict(X_test))

In [95]:
np.savetxt("submission.txt", y_test, fmt="%d")

In [96]:
display(y_test)

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]], dtype=float32)